#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Use simple operations

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integer

In [1]:
(3*4)+5

[1] 17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

[1] 3.333333

## Author
Matilde Bettencourt Cruz